__pycache__/
*.pyc

# Ignore model output directories (checkpoints)
*_output_*/

# Ignore Hugging Face cache
.cache/

# Ignore PyTorch checkpoints. This is not needed for now.......Do not use my checkpoint file.
*.pt

